@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-custom-neutral-0: #FFFFFF;
  --color-custom-neutral-50: #F5F7FA;
  --color-custom-neutral-100: #F3F5F8;
  --color-custom-neutral-200: #E0E4EA;
  --color-custom-neutral-300: #CACFD8;
  --color-custom-neutral-400: #99A0AE;
  --color-custom-neutral-500: #717784;
  --color-custom-neutral-600: #525866;
  --color-custom-neutral-700: #2B303B;
  --color-custom-neutral-800: #232530;
  --color-custom-neutral-900: #191B25;
  --color-custom-neutral-950: #0E121B;

  --color-custom-blue-700: #2547D0;
  --color-custom-blue-500: #335CFF;
  --color-custom-blue-50: #EBF1FF;

  --color-custom-green-500: #21C16B;
  --color-custom-green-100: #D1FBE9;

  --color-custom-red-500: #FB3748;
  --color-custom-red-100: #FFD5D8;
}

@utility font-preset-1 {
  font-size: 1.5rem;
  line-height: 120%;
  letter-spacing: -0.5px;
  font-weight: 700;
}

@utility font-preset-2 {
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: -0.5px;
  font-weight: 700;
}

@utility font-preset-3 {
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.3px;
  font-weight: 600;
}

@utility font-preset-4 {
  font-size: 0.875rem;
  line-height: 120%;
  letter-spacing: -0.2px;
  font-weight: 500;
}

@utility font-preset-5 {
  font-size: 0.875rem;
  line-height: 130%;
  letter-spacing: -0.2px;
  font-weight: 400;
}

@utility font-preset-6 {
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: -0.2px;
  font-weight: 400;
}

@utility shadow-small {
  background-color: white;
  box-shadow: 0 4px 6px 0 rgba(240, 240, 240, 0.6);
}

@utility shadow-large {
  background-color: white;
  box-shadow: 0 8px 12px 0 rgba(240, 240, 240, 0.6);
}